.main-nav{
    background-color: #609F10;
    padding: 30px 60px;
    position: sticky;
    top: 0;
    z-index: 99;
}
.flexcontainer{
    display: flex;
    flex: 100%;
    flex-wrap: wrap;
}
.flex-1{
    flex: 15%;
    font-size: 26px;
    font-weight: bold;
}
.flex-1i{
    flex: 40%;
    margin: 0px 20px;
}
.flex-1ii{
    flex: 20%;
}
.search-box{
    background-color: #fff;
    border-radius: 35px;
    width: 85%;
    margin: auto;
}
.search-inp{
    border: none;
    outline: none;
    font-size: 18px;
    color: #999999;
    padding: 18px 10px 18px 18px;
    background-color: transparent;
    width: 60%;
}
.search-btn{
    background-color: #f6b116;
    float: right;
    padding: 18px 20px 18px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 35px;
    cursor: pointer;
}
.head-user{
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}
.user-img-box{
    display: inline-block;
}
.dplog{
    width: 55px;
    border-radius: 100%;
    vertical-align: middle;
    margin-right: 5px;
}
.user-wr{
    display: inline-block;
}
.img-box{
    display: inline-block;
}
.cart-img-box{
    margin-left: 10px;
    display: inline-block;
    padding-top: 5px;
}
.head-user i{
    font-size: 28px;
    vertical-align: middle;
}
.sec-nav-box{
    padding: 20px 0px 0px;
}
.flexcontainer-wid{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
.flex-2{
    flex: 20%;
}
.flex-2i{
    flex: 55%;
    margin-left: 20px;
    padding-top: 14px;
}
.flex-2ii{
    flex: 15%;
    margin-left: 20px;
    color: #fff;
    padding-top: 14px;
}
.flex-2ii i{
    position: absolute;
    left: -20px;
    top: 3px;
}
.sliding-add{
    position: relative;
    font-size: 18px;
}
.flex-6-wid{
    width: 23%;
}
.cate-btn-head{
    font-size: 19px;
    font-weight: 700;
    color: #1a1a1a;
    background-color: #f6b116;
    padding: 12px 20px 16px;
    border-radius: 30px;
    width: 200px;
    text-align: center;
    cursor: pointer;
}
.cate-he{
    margin: 0px 10px;
}
.nav-link{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    padding: 10px;
    transition: .3s all ease;
}
.nav-link:hover{
    color: #f6b116;
    transition: .3s all ease;
}
.logo{
    width: 80%;
}
.cate-btn-box{
    position: relative;
    width: fit-content;
}
.drop-down-main-box{
    background-color: rgba(255, 255, 255, 0.7);
    width: 238px;
    position: absolute;
    top: 25px;
    z-index: -1;
    padding-top: 30px;
    backdrop-filter: blur(35px);
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
}
.single-cate-drop{
    border-bottom: 1px solid #999999;
}
.drop-link{
    text-decoration: none;
    color: #1a1a1a;
}
.allcat-img{
    display: inline-block;
    width: 20%;
    vertical-align: middle;
}
.drop-prd-wr{
    display: inline-block;
    width: 70%;
    margin-left: 8px;
}
.cat-img{
    width: 100%;
    border-radius: 10px;
}
.drop-box-link{
    padding: 10px;
}
.mov-marquee{
    font-size: 16px;
}