.main-home{
    padding: 60px;
}
.banner_bg{
    width: 100%;
    border-radius: 15px;
    height: 50vh;
}
.head-main{
    margin: 40px 20px;
    text-align: center;
}
.head-h1{
    width: fit-content;
    background-color: #f7d20f;
    border-radius: 25px;
    padding: 2px 18px 6px;
    margin: auto;
}
.category-main{
    background-color: rgb(207, 207, 207);
    padding: 20px;
    border-radius: 10px;
}
.flexcontainer-wid{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
.flex-1-wid{
    width: 18.5%;
    text-align: center;
}
.link_cate{
    text-decoration: none;
    color: #1a1a1a;
    transition: .3s all ease;
}
.link_cate:hover .cateimg{
    transform: scale(1.05);
    transition: .3s all ease;
    box-shadow: 0px 0px 10px 0px #609F10;
}
.cateimg{
    width: 100%;
    height: 300px;
    transition: .3s all ease;
}
.link_cate:hover .cate_h3{
    text-shadow: -1px 1px 3px #609F10;
}
.main-flashhead{
    position: relative;
    padding: 40px 20px 60px;
}
.flash-head-box{
    text-align: center;
    font-size: 34px;
    font-weight: bold;
}
.light-ico{
    color: #f7d20f;
    margin: 0px 5px;
    font-size: 46px;
}
.green-time{
    background-color: #609F10;
    margin: 0px 8px;
    border-radius: 4px;
    height: 50px;
    width: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.yellow-time{
    background-color: #f7d20f;
    border-radius: 4px;
    height: 50px;
    width: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.showmore-link{
    position: absolute;
    top: 60px;
    right: 0px;
}
.link-show{
    text-decoration: none;
    color: #1a1a1a;
    font-size: 20px;
}
.link-show i{
    vertical-align: middle;
}
.flex-2-wid{
    width: 18%;
}
.link-sale{
    text-decoration: none;
    color: whitesmoke;
}
.sale_wr{
    background-color: #609F10;
    position: relative;
    transition: .3s all ease;
}
.sale_wr:hover{
    box-shadow: 0px 0px 18px -3px #609F10;
    transition: .3s all ease;
}
.sale_img{
    width: 100%;
    height: 230px;
}
.sale-bg-box{
    background-color: #609F10;
    padding: 8px;
}
.item-name{
    font-size: 17px;
}
.actual-pri{
    background-color: #f7d20f;
    padding: 3px 5px;
    color: #1a1a1a;
    font-weight: bold;
    border-radius: 15px;
}
.pri-box{
    margin: 10px 0px;
}
.percent-off{
    background-color: #f7d20f;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 80px;
    height: 80px;
    color: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 22px;
    border-bottom-left-radius: 40px;
}
.flex-3-wid{
    width: 47%;
}
.ad_img{
    width: 100%;
    height: 400px;
    border-radius: 10px;
}
.main-sub{
    padding: 60px 20px;
}
.flex-4-wid{
    width: 17%;
    text-align: center;
}
.subimg{
    border-radius: 100%;
    width: 200px;
    height: 200px;
}
.sub-link{
    text-decoration: none;
    color: #1a1a1a;
}
.flex-5-wid{
    width: 18.5%;
}
.prd-link{
    text-decoration: none;
    color: #1a1a1a;
}
.prd-one-main{
    border: 1px solid #999999;
    border-radius: 10px;
    padding: 0px 0px 15px;
}
.prd-wr-box{
    padding: 0px 10px;
}
.prd-img{
    width: 100%;
    height: 190px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.prd-name{
    font-size: 17px;
}
.pri-prd{
    background-color: #609F10;
    border-radius: 15px;
    font-weight: 500;
    padding: 3px 8px;
    color: #fff;
}